@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* CSS HEX */
  --opal: #a7c5c1;
  --new-york-pink: #cd8987;
  --english-violet: #4d2d52;
  --deep-space-sparkle: #4d6a6d;
  --saffron: #e1bc29;
  --off-white: #FFFFFF;
}

#sidebar {
  position: fixed;
  vertical-align: top;
  width: 325px;
  height: 100%;
  top: 0;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
  text-align: center;
  background-color: var(--off-white);
}

#body {
  margin: 25px 100px 50px 415px; /* up right down left */
}

#profile-pic {
  max-height: 275px;
  float: right;
  top: 0;
  margin: 0 0 10px 20px; /* up right down left */
}

#challenge-squares {
  margin-top: 50px;
  display: grid;
  grid-gap: 50px;
}

.grand-challenge {
  height: 27vw;
  width: 27vw;
  margin-bottom: 20px;
}

.grand-challenge h1 {
  color: var(--deep-space-sparkle);
}

.grand-challenge p {
  max-height: 400px;
}

.grand-challenge img {
  float: left;
  margin: 20px 20px 20px 0px; /* up right down left */
}

.water {
  grid-column-start: 1;
  grid-column-end: 2;
}

.learning {
  grid-column-start: 2;
  grid-column-end: 3;
}


/* MOBILE */
@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #challenge-squares {
    margin: 100px;
    display: grid;
    grid-gap: 50px;
    margin-left: auto;
  }

  .center-p {
    margin: auto;
  }

  .water {
    grid-row-start: 1;
  }

  .learning {
    grid-row-start: 2;
  }
}
