@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* CSS HEX */
  --opal: #a7c5c1;
  --new-york-pink: #cd8987;
  --english-violet: #4d2d52;
  --deep-space-sparkle: #4d6a6d;
  --saffron: #e1bc29;
  --off-white: #FFFFFF;
}

body {
  background-color: var(--opal);
  background-image: url("wp_bground.png");
  margin: 0;
  font-family: 'Lora', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sidebar {
  position: fixed;
  vertical-align: top;
  width: 325px;
  height: 100%;
  top: 0;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
  text-align: center;
  background-color: var(--off-white);
}

#sidebar h1 {
  font-weight: 800;
  font-size: 36pt;
  color: #111;
}

#sidebar h2 {
  font-weight: 400;
  font-size: 16pt;
  color: #444;
}

.sidebar-link {
  left: 0;
  text-align: left;
  padding: 20px;
  padding-left: 35px;
  border-left: 8px solid hsla(0, 0%, 0%, 0);
}

div.sidebar-link a {
  font-weight: 400;
  font-size: 24pt;
  text-decoration: none;
  color: #444;
}

div.sidebar-link:hover {
  background-color: hsla(0, 0%, 0%, 0.05);
  border-left: 8px solid var(--opal);
}

.sidebar-current {
  font-weight: 500;
  color: #111;
  background-color: hsla(0, 0%, 0%, 0.1);
  padding-left: -5px;
  border-left: 8px solid var(--opal);
}

#challenge-squares {
  margin: 100px;
  display: grid;
  grid-gap: 50px;
  margin-left: 415px;
}

.center-p {
  margin: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.center-p p {
  padding: 15px;
  text-align: justify;
}

.grand-challenge {
  height: 27vw;
  width: 27vw;
}

.grand-challenge h1 {
  color: var(--deep-space-sparkle);
}

.grand-challenge p {
  max-height: 400px;
}

.grand-challenge img {
  float: left;
  margin: 20px;
}

.water {
  grid-column-start: 1;
  grid-column-end: 2;
}

.learning {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #challenge-squares {
    margin: 100px;
    display: grid;
    grid-gap: 50px;
    margin-left: auto;
  }

  .center-p {
    margin: auto;
  }

  .water {
    grid-row-start: 1;
  }

  .learning {
    grid-row-start: 2;
  }
}
