@import "index.scss";

#main-hero {
    background-color: $deepBrown;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;

    #hero-left {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 3em;
        vertical-align: middle;
        width: 50%;

        #hero-title {
            margin: auto;
            max-width: 500px;
            width: fit-content;

            #description-tags { font-size: 32px; }

            #webdev { color: $lightGreen; }
            
            #swe { color: $rust; }
            
            #uxd { color: $softBlue; }
        }
    }

    #hero-right {
        align-items: center;
        direction: rtl;
        display: flex;
        overflow: hidden;
        width: 50%;
        img {
            height: 100vh;
            object-fit: cover;
            width: 100%;
        }

        #photo-credit {
            bottom: 0;
            direction: ltr;
            font-size: 8pt;
            opacity: 0.5;
            padding-right: 3px;
            position: absolute;
            right: 0;
        }
    }
}

/* FOOTER */
#footer {
    color: $paleGrey;
    display: flex;
    align-items: center;
    font-family: $pixel-font;
    justify-content: space-between;
    background-color: $forestGreen;
    height: 100px;

    .icon-bar {
        width: 100px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .credits {
        padding: 0 10px;
        margin: 0;
    }
}

/* MOBILE */
@media screen and (max-width: 800px) {
    #main-hero {
        flex-direction: column;

        #hero-right, #hero-left { width: 100%; }
        #hero-left {
            padding: 20px;
            margin: auto;
        }

        #hero-right {
            img { width: 100%; height: auto; }
            #photo-credit {
                display: none; /* temporary workaround - Blaine needs credit!! */
            }
        }
    }
}