/**
 * GLOBAL STYLES FILE
*/

@import 'src/fonts/fonts';
@import 'src/sass/sass';

body {
    background-color: $mint;
    background-image: url('../img/textures/gridtest.png');
    background-size: 60px 60px;
    background-repeat: repeat;
    color: $black;
    margin: 0;
    padding: 20px;
    font-family: $default-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: normal;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: $primary-accent;
    &:hover { color: $mint; }
}

.pixel-font {
    font-family: $pixel-font, 'Courier New', Courier, monospace;
}

.subtext {
    font-size: 10pt;
}

.window {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: $white;
    border: $bordered-window;
    border-width: $bordered-window-width;
    padding: 20px;
    
    p { margin: 10px 0; }
    h2 {
        margin: 0;
        font-size: 36px;
    }
    h3 { margin: 10px 0; }
    img { object-fit: scale-down; }
    ul { margin: 0; }
}

/* LAYOUT */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 40px auto 20px auto;
    border: $bordered-window;
    border-width: $bordered-window-width;
    background-color: $white;
    padding: 20px;
    max-width: 800px;
    text-align: center;

    h1 { 
        font-family: $pixel-font;
        font-size: 38px;
        margin: 10px; 
    }
    h2 { 
        font-family: $pixel-font;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
}

#container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;

    position: relative;
    width: 100vw;

    #content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        order: 2;
        margin: 0 auto;
        flex-grow: 1;
        max-width: 800px;

        h2 {
            font-size: 24px;
        }
    }

    #left-menu {
        order: 1;
        border: $bordered-window;
        border-width: $bordered-window-width;
        margin-top: 70px;
        width: $left-menu-width;
        text-align: left;

        background-color: $white;
    }

    #right-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        order: 3;
        margin-top: 30px;
        margin-right: 35px;
        width: $right-menu-width;
        padding: $menu-padding;

        #statuscafe-username {
            margin-bottom: .5em;
            font-family: $pixel-font;
            font-size: 11pt;
        }
        #statuscafe-content {
            margin: .5em 0;
            font-size: 11pt;
            line-height: 14pt;
            font-family: $default-font;
        }

        #right-links { 
            text-align: right;

            > ul > li {
                font-family: $pixel-font;
                padding: 5px;
            }

            textarea { width: 100px; }
        }

        a > img {
            border-bottom: solid transparent;
            &:hover {
                border-bottom: solid $primary-accent;
                filter: drop-shadow(0px 6px 6px $primary-accent);
            }
        }
    }

    #left-menu ul, #right-links ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }

    .nav-menu {
        ul { padding: 0px; } 
        li {
            padding: 10px 10px;
            margin: 0;
            font-size: 18px;
            line-height: 20px;

            &:hover {
                background-color: $black;
                a { color: $rose; }
            }

            a {
                display: block;
                text-decoration: none;
                font-weight: 700;
                color: $forestGreen;
            }
        }
    }
}

.centered {
    text-align: center;
}

.button-display {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* fun audio player */
audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}