/**
 * GLOBAL STYLES FILE
*/

@import 'src/fonts/fonts';

$deepBrown: #30251D;
$rust: #C97140;
$lightGreen: #988E37;
$forestGreen: #42432D;
$softBlue: #849AA8;
$paleGrey: #C6CCCC;
$white: #FFFFF3;

$default-font: 'Istok Web';
$handwriting: 'Just Me Again Down Here';
$pixel-font: 'Silkscreen';

body { 
    margin: 0; 
    font-family: $default-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

.pixel-font {
    font-family: $pixel-font, 'Courier New', Courier, monospace;
}