
/**
 * ISTOK WEB
 */

@font-face {
    font-family: 'Istok Web';
    src: url('src/fonts/Istok_Web/IstokWeb-Regular.ttf');
}

@font-face {
    font-family: 'Istok Web';
    src: url('src/fonts/Istok_Web/IstokWeb-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Istok Web';
    src: url('src/fonts/Istok_Web/IstokWeb-Italic.ttf');
    font-weight: italic;
}

@font-face {
    font-family: 'Istok Web';
    src: url('src/fonts/Istok_Web/IstokWeb-BoldItalic.ttf');
    font-weight: bold italic;
}

/**
 * Just Me Again Down Here
 * (handwriting font)
 */

@font-face {
    font-family: 'Just Me Again Down Here';
    src: url('src/fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf');
}

/**
 * Silkscreen
 * (pixel font)
 */

@font-face {
    font-family: 'Silkscreen';
    src: url('src/fonts/Silkscreen/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('src/fonts/Silkscreen/Silkscreen-Bold.ttf');
    font-weight: bold;
}