.palm-divider {
  align-self: center;
  margin: auto;
  height: 40px;
  margin: 10px 0;
}

#my-family {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 10px 0;
}
#my-family img {
  -o-object-fit: contain;
     object-fit: contain;
}