/**
 * GLOBAL STYLES FILE
*/
/**
 * ISTOK WEB
 */
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Italic.ttf");
  font-weight: italic;
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-BoldItalic.ttf");
  font-weight: bold italic;
}
/**
 * Just Me Again Down Here
 * (handwriting font)
 */
@font-face {
  font-family: "Just Me Again Down Here";
  src: url("../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf");
}
/**
 * Silkscreen
 * (pixel font)
 */
@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen/Silkscreen-Regular.ttf");
}
@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen/Silkscreen-Bold.ttf");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: "Istok Web", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

h2 {
  margin: 0;
  font-size: 32px;
}

.pixel-font {
  font-family: "Silkscreen", "Courier New", Courier, monospace;
}