/**
 * GLOBAL STYLES FILE
*/
/**
 * ISTOK WEB
 */
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Bold.ttf");
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-Italic.ttf");
  font-weight: italic;
  font-style: italic;
}
@font-face {
  font-family: "Istok Web";
  src: url("../fonts/Istok_Web/IstokWeb-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/**
 * Just Me Again Down Here
 * (handwriting font)
 */
@font-face {
  font-family: "Just Me Again Down Here";
  src: url("../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf");
}
/**
 * Silkscreen
 * (pixel font)
 */
@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen/Silkscreen-Regular.ttf");
}
@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen/Silkscreen-Bold.ttf");
  font-weight: bold;
}
body {
  background-color: #A4C3B2;
  background-image: url("../img/textures/gridtest.png");
  background-size: 60px 60px;
  background-repeat: repeat;
  color: #342E37;
  margin: 0;
  padding: 20px;
  font-family: "Istok Web", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #1C687C;
}
a:hover {
  color: #A4C3B2;
}

.pixel-font {
  font-family: "Silkscreen", "Courier New", Courier, monospace;
}

.subtext {
  font-size: 10pt;
}

.window {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: #E7EFEB;
  border: solid #1C687C;
  border-width: 20px 4px 4px 4px;
  padding: 20px;
}
.window p {
  margin: 10px 0;
}
.window h2 {
  margin: 0;
  font-size: 36px;
}
.window h3 {
  margin: 10px 0;
}
.window img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.window ul {
  margin: 0;
}

/* LAYOUT */
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto 20px auto;
  border: solid #1C687C;
  border-width: 20px 4px 4px 4px;
  background-color: #E7EFEB;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}
#header h1 {
  font-family: "Silkscreen";
  font-size: 38px;
  margin: 10px;
}
#header h2 {
  font-family: "Silkscreen";
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  position: relative;
  width: 100vw;
}
#container #content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 2;
  margin: 0 auto;
  flex-grow: 1;
  max-width: 800px;
}
#container #content h2 {
  font-size: 24px;
}
#container #left-menu {
  order: 1;
  border: solid #1C687C;
  border-width: 20px 4px 4px 4px;
  margin-top: 70px;
  width: 200px;
  text-align: left;
  background-color: #E7EFEB;
}
#container #right-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 3;
  margin-top: 30px;
  margin-right: 35px;
  width: 175px;
  padding: 5px;
}
#container #right-menu #statuscafe-username {
  margin-bottom: 0.5em;
  font-family: "Silkscreen";
  font-size: 11pt;
}
#container #right-menu #statuscafe-content {
  margin: 0.5em 0;
  font-size: 11pt;
  line-height: 14pt;
  font-family: "Istok Web";
}
#container #right-menu #right-links {
  text-align: right;
}
#container #right-menu #right-links > ul > li {
  font-family: "Silkscreen";
  padding: 5px;
}
#container #right-menu #right-links textarea {
  width: 100px;
}
#container #right-menu a > img {
  border-bottom: solid transparent;
}
#container #right-menu a > img:hover {
  border-bottom: solid #1C687C;
  filter: drop-shadow(0px 6px 6px #1C687C);
}
#container #left-menu ul, #container #right-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#container .nav-menu ul {
  padding: 0px;
}
#container .nav-menu li {
  padding: 10px 10px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}
#container .nav-menu li:hover {
  background-color: #342E37;
}
#container .nav-menu li:hover a {
  color: #BD6B73;
}
#container .nav-menu li a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #343A1A;
}

.centered {
  text-align: center;
}

.button-display {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* fun audio player */
audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}