@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* CSS HEX */
  --opal: #a7c5c1;
  --new-york-pink: #cd8987;
  --english-violet: #4d2d52;
  --deep-space-sparkle: #4d6a6d;
  --saffron: #e1bc29;
  --off-white: #FFFFFF;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(77, 106, 109, 0), rgba(77, 106, 109, 0.75), rgba(77, 106, 109, 0));
}

#mission td {
  vertical-align: center;
}

#profile-pic {
  max-height: 275px;
  padding: 10px;
  padding-top: 50px;
}

.mission-header {
  color: #000000;
}


/* MOBILE */
@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .center-p {
    margin: auto;
  }

}
